%h1 Users

= link_to 'New User', new_user_path

%h2 List

%table.table
  %thead
    %tr
      %th Name
      %th Phone Number
      %th Actions

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.phone_number
        %td
          .btn-group.btn-group-sm
            = link_to user_path(user), class: 'btn btn-default' do
              %span.glyphicon.glyphicon-eye-open
              Show
            = link_to edit_user_path(user), class: 'btn btn-default' do
              %span.glyphicon.glyphicon-edit
              Edit
            = link_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do
              %span.glyphicon.glyphicon-trash
              Delete

%h2 Search

= form_tag '/search', method: :get, class: 'form-inline' do
  .form-group
    = label_tag(:q, 'Search User:')
    = text_field_tag :q, nil, class: 'form-control'
  = submit_tag 'Search', class: 'btn btn-default btn-info'
